USE [master]
GO
/****** Object:  Database [master]    Script Date: 09/10/2023 21:15:42 ******/
CREATE DATABASE [master] ON  PRIMARY 
( NAME = N'master', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\master.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'mastlog', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\mastlog.ldf' , SIZE = 1280KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [master].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 09/10/2023 21:15:42 ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[NT AUTHORITY\SYSTEM]
GO
/****** Object:  User [##MS_PolicyEventProcessingLogin##]    Script Date: 09/10/2023 21:15:42 ******/
CREATE USER [##MS_PolicyEventProcessingLogin##] FOR LOGIN [##MS_PolicyEventProcessingLogin##] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [##MS_AgentSigningCertificate##]    Script Date: 09/10/2023 21:15:42 ******/
CREATE USER [##MS_AgentSigningCertificate##] FOR LOGIN [##MS_AgentSigningCertificate##]
GO
/****** Object:  Role [RSExecRole]    Script Date: 09/10/2023 21:15:42 ******/
CREATE ROLE [RSExecRole] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [RSExecRole]    Script Date: 09/10/2023 21:15:42 ******/
CREATE SCHEMA [RSExecRole] AUTHORIZATION [RSExecRole]
GO
/****** Object:  Schema [NT AUTHORITY\SYSTEM]    Script Date: 09/10/2023 21:15:42 ******/
CREATE SCHEMA [NT AUTHORITY\SYSTEM] AUTHORIZATION [NT AUTHORITY\SYSTEM]
GO
/****** Object:  Table [dbo].[CAT_PRODUCTOS_SERVICIOS]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAT_PRODUCTOS_SERVICIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
	[TIPO] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CAT_PRODUCTOS_SERVICIOS] ON
INSERT [dbo].[CAT_PRODUCTOS_SERVICIOS] ([ID], [NOMBRE], [TIPO]) VALUES (1, N'Balatas', N'Producto')
INSERT [dbo].[CAT_PRODUCTOS_SERVICIOS] ([ID], [NOMBRE], [TIPO]) VALUES (2, N'Clutch', N'Producto')
INSERT [dbo].[CAT_PRODUCTOS_SERVICIOS] ([ID], [NOMBRE], [TIPO]) VALUES (3, N'Liquido de frenos', N'Producto')
SET IDENTITY_INSERT [dbo].[CAT_PRODUCTOS_SERVICIOS] OFF
/****** Object:  Table [dbo].[UNI_PROVEEDORES_SERVICIOS_PRODUCTOS]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNI_PROVEEDORES_SERVICIOS_PRODUCTOS](
	[ID_PROVEEDORES] [int] NULL,
	[ID_SERVICIOS_PRODUCTOS] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[UNI_PROVEEDORES_SERVICIOS_PRODUCTOS] ([ID_PROVEEDORES], [ID_SERVICIOS_PRODUCTOS]) VALUES (5, 3)
INSERT [dbo].[UNI_PROVEEDORES_SERVICIOS_PRODUCTOS] ([ID_PROVEEDORES], [ID_SERVICIOS_PRODUCTOS]) VALUES (5, 2)
INSERT [dbo].[UNI_PROVEEDORES_SERVICIOS_PRODUCTOS] ([ID_PROVEEDORES], [ID_SERVICIOS_PRODUCTOS]) VALUES (5, 4)
/****** Object:  Table [dbo].[TBL_USERS]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [nvarchar](20) NOT NULL,
	[PASSWORD] [nvarchar](10) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO_PATERNO] [varchar](50) NOT NULL,
	[APELLIDO_MATERNO] [varchar](50) NOT NULL,
	[ID_CARGO] [varchar](30) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USER_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_USERS] ON
INSERT [dbo].[TBL_USERS] ([ID], [USER_NAME], [PASSWORD], [NOMBRE], [APELLIDO_PATERNO], [APELLIDO_MATERNO], [ID_CARGO], [EMAIL], [STATUS]) VALUES (1, N'ZAVILA', N'PASS', N'ZENEN', N'AVILA', N'SUAREZ', N'1', N'ZENENAVILASUAREZ@GMAIL.COM', 1)
INSERT [dbo].[TBL_USERS] ([ID], [USER_NAME], [PASSWORD], [NOMBRE], [APELLIDO_PATERNO], [APELLIDO_MATERNO], [ID_CARGO], [EMAIL], [STATUS]) VALUES (2, N'POLARTE', N'XOXO', N'PERLA LORENA', N'OLARTE', N'GOMEZ', N'3', N'OLARTE_PLG@HOTMAIL.COM', 1)
INSERT [dbo].[TBL_USERS] ([ID], [USER_NAME], [PASSWORD], [NOMBRE], [APELLIDO_PATERNO], [APELLIDO_MATERNO], [ID_CARGO], [EMAIL], [STATUS]) VALUES (3, N'JAVILA', N'TEMPORAL', N'JUAN ADOLFO', N'AVILA', N'MOCTEZUMA', N'1', N'juan@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[TBL_USERS] OFF
/****** Object:  Table [dbo].[TBL_PROVEEDORES]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PROVEEDORES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](60) NOT NULL,
	[RFC] [varchar](20) NULL,
	[DIRECCION] [varchar](60) NULL,
	[TELEFONO] [varchar](20) NULL,
	[CORREO] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_PROVEEDORES] ON
INSERT [dbo].[TBL_PROVEEDORES] ([ID], [NOMBRE], [RFC], [DIRECCION], [TELEFONO], [CORREO]) VALUES (3, N'Refaccionaria California Molino', N'123', N'Cto. Margaritas Oeste 144 53530, Jardines del Molinito, Nauc', N'55 2166 0629', N'prueba@gmail.com')
INSERT [dbo].[TBL_PROVEEDORES] ([ID], [NOMBRE], [RFC], [DIRECCION], [TELEFONO], [CORREO]) VALUES (4, N'Canabrake', N'PRUEBA', N'Fortuna No. 69-Bis, Industrial, Ciudad de México, 07800', N'55 5577 4490', N'joseluis_canabrake@hotmai')
INSERT [dbo].[TBL_PROVEEDORES] ([ID], [NOMBRE], [RFC], [DIRECCION], [TELEFONO], [CORREO]) VALUES (5, N'Autopartes Originales Aisin Mioto', N'PRUEBA', N'Unión No. 137, Industrial, Ciudad de México, 07800', N'55 5781 5944', N'miotoventas@gmail.co')
SET IDENTITY_INSERT [dbo].[TBL_PROVEEDORES] OFF
/****** Object:  Table [dbo].[TBL_PRODUCTOS_SERVICIOS]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PRODUCTOS_SERVICIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](60) NOT NULL,
	[CODIGO] [varchar](20) NOT NULL,
	[PRECIO_UNITARIO] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_PRODUCTOS_SERVICIOS] ON
INSERT [dbo].[TBL_PRODUCTOS_SERVICIOS] ([ID], [NOMBRE], [CODIGO], [PRECIO_UNITARIO]) VALUES (2, N'Balatas o Pastillas Delanteras', N'DelaBala', CAST(469.10 AS Decimal(18, 2)))
INSERT [dbo].[TBL_PRODUCTOS_SERVICIOS] ([ID], [NOMBRE], [CODIGO], [PRECIO_UNITARIO]) VALUES (3, N'Rectificado de Discos Delanteros', N'DelaDiscRect	', CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[TBL_PRODUCTOS_SERVICIOS] ([ID], [NOMBRE], [CODIGO], [PRECIO_UNITARIO]) VALUES (4, N'M.O Balatas Delanteras', N'MoDelaBala	', CAST(20000.00 AS Decimal(18, 2)))
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[TBL_PRODUCTOS_SERVICIOS] OFF
/****** Object:  Table [dbo].[TBL_INGRESO_REGISTROS]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_INGRESO_REGISTROS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_INGRESO] [int] NOT NULL,
	[ID_CAT_PROD_SERV] [int] NOT NULL,
	[ID_PROVEEDOR] [int] NOT NULL,
	[ID_PROD_SERV] [int] NOT NULL,
	[NO_PARTE] [varchar](30) NOT NULL,
	[MARCA] [varchar](50) NOT NULL,
	[PRECIO_UNITARIO] [decimal](18, 2) NOT NULL,
	[IVA] [decimal](18, 2) NOT NULL,
	[DESCUETO] [decimal](18, 2) NOT NULL,
	[DESCUENTO_PORCENTAJE] [decimal](18, 2) NOT NULL,
	[SUBTOTAL] [decimal](18, 2) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[TOTAL] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_INGRESO_REGISTROS] ON
INSERT [dbo].[TBL_INGRESO_REGISTROS] ([ID], [ID_INGRESO], [ID_CAT_PROD_SERV], [ID_PROVEEDOR], [ID_PROD_SERV], [NO_PARTE], [MARCA], [PRECIO_UNITARIO], [IVA], [DESCUETO], [DESCUENTO_PORCENTAJE], [SUBTOTAL], [CANTIDAD], [TOTAL]) VALUES (1, 38, 2, 3, 1, N'678', N'observacion de prueba', CAST(38.00 AS Decimal(18, 2)), CAST(6.08 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(38.00 AS Decimal(18, 2)), 1, CAST(38.00 AS Decimal(18, 2)))
INSERT [dbo].[TBL_INGRESO_REGISTROS] ([ID], [ID_INGRESO], [ID_CAT_PROD_SERV], [ID_PROVEEDOR], [ID_PROD_SERV], [NO_PARTE], [MARCA], [PRECIO_UNITARIO], [IVA], [DESCUETO], [DESCUENTO_PORCENTAJE], [SUBTOTAL], [CANTIDAD], [TOTAL]) VALUES (2, 38, 2, 3, 2, N'123456', N'_Luk', CAST(150.00 AS Decimal(18, 2)), CAST(24.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)), 1, CAST(150.00 AS Decimal(18, 2)))
INSERT [dbo].[TBL_INGRESO_REGISTROS] ([ID], [ID_INGRESO], [ID_CAT_PROD_SERV], [ID_PROVEEDOR], [ID_PROD_SERV], [NO_PARTE], [MARCA], [PRECIO_UNITARIO], [IVA], [DESCUETO], [DESCUENTO_PORCENTAJE], [SUBTOTAL], [CANTIDAD], [TOTAL]) VALUES (25, 42, 1, 3, 4, N'678', N'observacion de prueba', CAST(6.08 AS Decimal(18, 2)), CAST(0.97 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(6.08 AS Decimal(18, 2)), 1, CAST(6.08 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TBL_INGRESO_REGISTROS] OFF
/****** Object:  Table [dbo].[TBL_INGRESO]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_INGRESO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LLAVES_DADO] [bit] NOT NULL,
	[FECHA] [varchar](25) NOT NULL,
	[USER_ATIENDE] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_AUTO] [int] NOT NULL,
	[FALLAS] [varchar](2000) NULL,
	[DIAGNOSTICO] [varchar](2000) NULL,
	[DESCUENTO] [decimal](18, 2) NOT NULL,
	[SUBTOTAL] [decimal](18, 2) NOT NULL,
	[IVA] [decimal](18, 2) NOT NULL,
	[TOTAL] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_INGRESO] ON
INSERT [dbo].[TBL_INGRESO] ([ID], [LLAVES_DADO], [FECHA], [USER_ATIENDE], [ID_CLIENTE], [ID_AUTO], [FALLAS], [DIAGNOSTICO], [DESCUENTO], [SUBTOTAL], [IVA], [TOTAL]) VALUES (38, 0, N'02 septiembre 2023 12:31:', 2, 2, 2, N'', N'', CAST(0.00 AS Decimal(18, 2)), CAST(157.92 AS Decimal(18, 2)), CAST(30.08 AS Decimal(18, 2)), CAST(188.00 AS Decimal(18, 2)))
INSERT [dbo].[TBL_INGRESO] ([ID], [LLAVES_DADO], [FECHA], [USER_ATIENDE], [ID_CLIENTE], [ID_AUTO], [FALLAS], [DIAGNOSTICO], [DESCUENTO], [SUBTOTAL], [IVA], [TOTAL]) VALUES (41, 0, N'09 septiembre 2023 22:16:', 2, 2, 2, N'', N'', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[TBL_INGRESO] ([ID], [LLAVES_DADO], [FECHA], [USER_ATIENDE], [ID_CLIENTE], [ID_AUTO], [FALLAS], [DIAGNOSTICO], [DESCUENTO], [SUBTOTAL], [IVA], [TOTAL]) VALUES (42, 0, N'10 septiembre 2023 14:26:', 2, 2, 2, N'', N'', CAST(0.00 AS Decimal(18, 2)), CAST(5.11 AS Decimal(18, 2)), CAST(0.97 AS Decimal(18, 2)), CAST(6.08 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TBL_INGRESO] OFF
/****** Object:  Table [dbo].[TBL_HIST_PRODUCTOS_SERVICIOS]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_HIST_PRODUCTOS_SERVICIOS](
	[PROCESO] [varchar](50) NOT NULL,
	[ID_PROCESO] [int] NOT NULL,
	[PROD_SERV] [varchar](60) NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[NO_PARTE] [varchar](30) NOT NULL,
	[ID_PROVEEDOR] [int] NOT NULL,
	[MARCA] [varchar](50) NOT NULL,
	[PRECIO_UNITARIO] [decimal](18, 2) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[TOTAL] [decimal](18, 2) NOT NULL,
	[FECHA] [varchar](25) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TBL_HIST_PRODUCTOS_SERVICIOS] ([PROCESO], [ID_PROCESO], [PROD_SERV], [ID_PRODUCTO], [NO_PARTE], [ID_PROVEEDOR], [MARCA], [PRECIO_UNITARIO], [CANTIDAD], [TOTAL], [FECHA]) VALUES (N'INGRESO', 47, N'BALATAS', 4, N'678', 3, N'observacion de prueba', CAST(10.00 AS Decimal(18, 2)), -3, CAST(-30.00 AS Decimal(18, 2)), N'10 Sep 2023 - 21:09:16')
INSERT [dbo].[TBL_HIST_PRODUCTOS_SERVICIOS] ([PROCESO], [ID_PROCESO], [PROD_SERV], [ID_PRODUCTO], [NO_PARTE], [ID_PROVEEDOR], [MARCA], [PRECIO_UNITARIO], [CANTIDAD], [TOTAL], [FECHA]) VALUES (N'INGRESO', 47, N'CLUTCH', 1, N'123456', 3, N'_Luk', CAST(24.00 AS Decimal(18, 2)), -1, CAST(-24.00 AS Decimal(18, 2)), N'10 Sep 2023 - 21:09:16')
/****** Object:  Table [dbo].[TBL_DIRECCIONES]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_DIRECCIONES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PAIS] [varchar](20) NOT NULL,
	[ESTADO] [varchar](30) NULL,
	[MUNICIPIO] [varchar](30) NULL,
	[CIUDAD] [varchar](30) NULL,
	[COLONIA] [varchar](30) NULL,
	[CODIGO_POSTAL] [varchar](10) NULL,
	[CALLE] [varchar](50) NULL,
	[NO_EXTERIOR] [varchar](20) NULL,
	[NO_INTERIOR] [varchar](20) NULL,
	[ID_CLIENTE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_DIRECCIONES] ON
INSERT [dbo].[TBL_DIRECCIONES] ([ID], [PAIS], [ESTADO], [MUNICIPIO], [CIUDAD], [COLONIA], [CODIGO_POSTAL], [CALLE], [NO_EXTERIOR], [NO_INTERIOR], [ID_CLIENTE]) VALUES (1, N'Mexico', N'Mexico', N'Nahucalpan', N'Molinito', N'Jardines del molinito', N'12345', N'Hortensia', N'37', N'', 2)
INSERT [dbo].[TBL_DIRECCIONES] ([ID], [PAIS], [ESTADO], [MUNICIPIO], [CIUDAD], [COLONIA], [CODIGO_POSTAL], [CALLE], [NO_EXTERIOR], [NO_INTERIOR], [ID_CLIENTE]) VALUES (2, N'Mexico', N'Guerrero', N'', N'Chilpancingo', N'El comino', N'12345', N'La cuereria', N'1', N'', 3)
INSERT [dbo].[TBL_DIRECCIONES] ([ID], [PAIS], [ESTADO], [MUNICIPIO], [CIUDAD], [COLONIA], [CODIGO_POSTAL], [CALLE], [NO_EXTERIOR], [NO_INTERIOR], [ID_CLIENTE]) VALUES (3, N'Mexico', N'Mexico', N'Nahucalpan', N'', N'Molinito', N'12456', N'Hortensias', N'37', N'', 4)
SET IDENTITY_INSERT [dbo].[TBL_DIRECCIONES] OFF
/****** Object:  Table [dbo].[TBL_COMPRA_DIA_REGISTROS]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TBL_COMPRA_DIA_REGISTROS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NO_FACTURA_REMISION] [varchar](30) NOT NULL,
	[ID_CAT_PROD_SERV] [int] NOT NULL,
	[ID_PROVEEDOR] [int] NOT NULL,
	[ID_PROD_SERV] [int] NOT NULL,
	[NO_PARTE] [varchar](30) NOT NULL,
	[MARCA] [varchar](50) NOT NULL,
	[PRECIO_UNITARIO] [decimal](18, 2) NOT NULL,
	[IVA] [decimal](18, 2) NOT NULL,
	[DESCUETO] [decimal](18, 2) NOT NULL,
	[DESCUENTO_PORCENTAJE] [decimal](18, 2) NOT NULL,
	[SUBTOTAL] [decimal](18, 2) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[TOTAL] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_COMPRA_DIA_REGISTROS] ON
INSERT [dbo].[TBL_COMPRA_DIA_REGISTROS] ([ID], [NO_FACTURA_REMISION], [ID_CAT_PROD_SERV], [ID_PROVEEDOR], [ID_PROD_SERV], [NO_PARTE], [MARCA], [PRECIO_UNITARIO], [IVA], [DESCUETO], [DESCUENTO_PORCENTAJE], [SUBTOTAL], [CANTIDAD], [TOTAL]) VALUES (1, N'', 1, 4, 3, N'678', N'delantera', CAST(6.08 AS Decimal(18, 2)), CAST(0.97 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(6.08 AS Decimal(18, 2)), 1, CAST(6.08 AS Decimal(18, 2)))
INSERT [dbo].[TBL_COMPRA_DIA_REGISTROS] ([ID], [NO_FACTURA_REMISION], [ID_CAT_PROD_SERV], [ID_PROVEEDOR], [ID_PROD_SERV], [NO_PARTE], [MARCA], [PRECIO_UNITARIO], [IVA], [DESCUETO], [DESCUENTO_PORCENTAJE], [SUBTOTAL], [CANTIDAD], [TOTAL]) VALUES (2, N'', 2, 1, 3, N'123456', N'Producto', CAST(24.00 AS Decimal(18, 2)), CAST(3.84 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(24.00 AS Decimal(18, 2)), 1, CAST(24.00 AS Decimal(18, 2)))
INSERT [dbo].[TBL_COMPRA_DIA_REGISTROS] ([ID], [NO_FACTURA_REMISION], [ID_CAT_PROD_SERV], [ID_PROVEEDOR], [ID_PROD_SERV], [NO_PARTE], [MARCA], [PRECIO_UNITARIO], [IVA], [DESCUETO], [DESCUENTO_PORCENTAJE], [SUBTOTAL], [CANTIDAD], [TOTAL]) VALUES (3, N'prueba', 1, 4, 3, N'678', N'delantera', CAST(6.08 AS Decimal(18, 2)), CAST(0.97 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(6.08 AS Decimal(18, 2)), 1, CAST(6.08 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TBL_COMPRA_DIA_REGISTROS] OFF
/****** Object:  Table [dbo].[TBL_COMPRA_DIA]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_COMPRA_DIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NO_FACTURA_REMISION] [varchar](30) NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[ID_PROVEEDOR] [int] NOT NULL,
	[SUBTOTAL] [decimal](18, 2) NOT NULL,
	[IVA] [decimal](18, 2) NOT NULL,
	[TOTAL] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_COMPRA_DIA] ON
INSERT [dbo].[TBL_COMPRA_DIA] ([ID], [NO_FACTURA_REMISION], [ID_PRODUCTO], [ID_PROVEEDOR], [SUBTOTAL], [IVA], [TOTAL]) VALUES (21, N'', 2, 3, CAST(157.92 AS Decimal(18, 2)), CAST(30.08 AS Decimal(18, 2)), CAST(188.00 AS Decimal(18, 2)))
INSERT [dbo].[TBL_COMPRA_DIA] ([ID], [NO_FACTURA_REMISION], [ID_PRODUCTO], [ID_PROVEEDOR], [SUBTOTAL], [IVA], [TOTAL]) VALUES (22, N'', 2, 3, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[TBL_COMPRA_DIA] ([ID], [NO_FACTURA_REMISION], [ID_PRODUCTO], [ID_PROVEEDOR], [SUBTOTAL], [IVA], [TOTAL]) VALUES (23, N'', 2, 3, CAST(25.27 AS Decimal(18, 2)), CAST(4.81 AS Decimal(18, 2)), CAST(30.08 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TBL_COMPRA_DIA] OFF
/****** Object:  Table [dbo].[TBL_CLUTCH]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TBL_CLUTCH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APLICACION] [varchar](60) NOT NULL,
	[ID_PROVEEDOR] [int] NOT NULL,
	[NUMERO_PARTE] [varchar](30) NULL,
	[PRODUCTO] [varchar](20) NULL,
	[EQUIVALENCIA_LUK] [varchar](30) NULL,
	[EQUIVALENCIA_SACHS] [varchar](30) NULL,
	[EQUIVALENCIA_3L_ORIGINAL] [varchar](30) NULL,
	[EQUIVALENCIA_EXEDY] [varchar](30) NULL,
	[EQUIVALENCIA_VALEO] [varchar](30) NULL,
	[EQUIVALENCIA_AISIN] [varchar](30) NULL,
	[PRECIO_COMPRA] [decimal](18, 2) NULL,
	[PRECIO_PUBLICO] [decimal](18, 2) NULL,
	[EXISTENCIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_CLUTCH] ON
INSERT [dbo].[TBL_CLUTCH] ([ID], [APLICACION], [ID_PROVEEDOR], [NUMERO_PARTE], [PRODUCTO], [EQUIVALENCIA_LUK], [EQUIVALENCIA_SACHS], [EQUIVALENCIA_3L_ORIGINAL], [EQUIVALENCIA_EXEDY], [EQUIVALENCIA_VALEO], [EQUIVALENCIA_AISIN], [PRECIO_COMPRA], [PRECIO_PUBLICO], [EXISTENCIA]) VALUES (1, N'Aplicacion', 3, N'123456', N'Producto', N'_Luk', N'_Sach', N'3L', N'Exedy', N'Valeo', N'Aisin', CAST(100.00 AS Decimal(18, 2)), CAST(24.00 AS Decimal(18, 2)), 155)
SET IDENTITY_INSERT [dbo].[TBL_CLUTCH] OFF
/****** Object:  Table [dbo].[TBL_CLIENTES]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CLIENTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[CORREO] [varchar](30) NULL,
	[CFDI] [varchar](30) NULL,
	[RFC] [varchar](20) NULL,
	[CODIGO_POSTAL] [varchar](10) NULL,
	[CALLE] [varchar](50) NULL,
	[MUNICIPIO] [varchar](30) NULL,
	[ESTADO] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_CLIENTES] ON
INSERT [dbo].[TBL_CLIENTES] ([ID], [NOMBRE], [CORREO], [CFDI], [RFC], [CODIGO_POSTAL], [CALLE], [MUNICIPIO], [ESTADO]) VALUES (2, N'Zenen Avila Suarez', N'zenenavilasuarez@gmail.com', N'Honorarios Medicos', N'123456789012345', N'1234567', N'Hortensias 37', N'Naucalpan', N'Mexico')
INSERT [dbo].[TBL_CLIENTES] ([ID], [NOMBRE], [CORREO], [CFDI], [RFC], [CODIGO_POSTAL], [CALLE], [MUNICIPIO], [ESTADO]) VALUES (3, N'PERLA LORENA OLARTE GOMEZ', N'zenenavilasuarez@gmail.com', N'Honorarios Medicos', N'123456789012345', N'1234567', N'Hortensias 37', N'Naucalpan', N'Mexico')
INSERT [dbo].[TBL_CLIENTES] ([ID], [NOMBRE], [CORREO], [CFDI], [RFC], [CODIGO_POSTAL], [CALLE], [MUNICIPIO], [ESTADO]) VALUES (5, N'PERLA LORENA OLARTE GOMEZ', N'zenenavilasuarez@gmail.com', N'Honorarios Medicos', N'123456789012345', N'1234567', N'Hortensias 37', N'Naucalpan', N'Mexico')
SET IDENTITY_INSERT [dbo].[TBL_CLIENTES] OFF
/****** Object:  Table [dbo].[TBL_CARGO]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CARGO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CARGO] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_CARGO] ON
INSERT [dbo].[TBL_CARGO] ([ID], [CARGO]) VALUES (1, N'ADMINISTRADOR')
INSERT [dbo].[TBL_CARGO] ([ID], [CARGO]) VALUES (2, N'DESARROLLADOR')
INSERT [dbo].[TBL_CARGO] ([ID], [CARGO]) VALUES (3, N'RECEPCIONISTA')
SET IDENTITY_INSERT [dbo].[TBL_CARGO] OFF
/****** Object:  Table [dbo].[TBL_BALATAS]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_BALATAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROVEEDOR] [int] NOT NULL,
	[NUMERO_PARTE] [varchar](30) NOT NULL,
	[MARCA] [varchar](50) NOT NULL,
	[POSICION] [varchar](10) NOT NULL,
	[OBSERVACIONES] [varchar](60) NULL,
	[ABUTMEN] [bit] NOT NULL,
	[APLICACION] [varchar](50) NOT NULL,
	[MODELO] [varchar](10) NULL,
	[FORMULA] [varchar](12) NULL,
	[PRECIO_PUBLICO] [decimal](18, 2) NULL,
	[EXISTENCIA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_BALATAS] ON
INSERT [dbo].[TBL_BALATAS] ([ID], [ID_PROVEEDOR], [NUMERO_PARTE], [MARCA], [POSICION], [OBSERVACIONES], [ABUTMEN], [APLICACION], [MODELO], [FORMULA], [PRECIO_PUBLICO], [EXISTENCIA]) VALUES (1, 4, N'54321', N'prueba', N'delantera', N'ninguna', 1, N'prueba', N'54321', N'extrem', CAST(6.08 AS Decimal(18, 2)), 10)
INSERT [dbo].[TBL_BALATAS] ([ID], [ID_PROVEEDOR], [NUMERO_PARTE], [MARCA], [POSICION], [OBSERVACIONES], [ABUTMEN], [APLICACION], [MODELO], [FORMULA], [PRECIO_PUBLICO], [EXISTENCIA]) VALUES (2, 5, N'12345', N'Chevi', N'Delantera', N'prueba', 1, N'Prueba', N'54321', N'Extrem', CAST(30.00 AS Decimal(18, 2)), 22)
INSERT [dbo].[TBL_BALATAS] ([ID], [ID_PROVEEDOR], [NUMERO_PARTE], [MARCA], [POSICION], [OBSERVACIONES], [ABUTMEN], [APLICACION], [MODELO], [FORMULA], [PRECIO_PUBLICO], [EXISTENCIA]) VALUES (3, 4, N'12345', N'prueba', N'delantera', N'ninguna', 1, N'prueba', N'54321', N'extrem', CAST(20.00 AS Decimal(18, 2)), 15)
SET IDENTITY_INSERT [dbo].[TBL_BALATAS] OFF
/****** Object:  Table [dbo].[TBL_AUTOS]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_AUTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PLACA] [varchar](10) NOT NULL,
	[MARCA] [varchar](30) NULL,
	[MODELO] [varchar](30) NULL,
	[NUMERO_SERIE] [varchar](30) NULL,
	[COLOR] [varchar](30) NULL,
	[KMJ] [int] NULL,
	[ID_CLIENTE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_AUTOS] ON
INSERT [dbo].[TBL_AUTOS] ([ID], [PLACA], [MARCA], [MODELO], [NUMERO_SERIE], [COLOR], [KMJ], [ID_CLIENTE]) VALUES (2, N'placa 3', N'marca 3', N'modelo 3', N'numero serie 3', N'color 3', 321, 2)
INSERT [dbo].[TBL_AUTOS] ([ID], [PLACA], [MARCA], [MODELO], [NUMERO_SERIE], [COLOR], [KMJ], [ID_CLIENTE]) VALUES (3, N'placa', N'marca ', N'modelo ', N'numero serie ', N'color ', 321, 2)
INSERT [dbo].[TBL_AUTOS] ([ID], [PLACA], [MARCA], [MODELO], [NUMERO_SERIE], [COLOR], [KMJ], [ID_CLIENTE]) VALUES (5, N'PDZ4539', N'marca 3', N'modelo 3', N'numero serie 3', N'color 3', 321, 2)
SET IDENTITY_INSERT [dbo].[TBL_AUTOS] OFF
/****** Object:  StoredProcedure [dbo].[SP_VALID_USER]    Script Date: 09/10/2023 21:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VALID_USER]
	@USER_NAME NVARCHAR(20),
	@PASSWORD NVARCHAR(10)
AS
	DECLARE @RESULT BIT;
	DECLARE @EXIST BIT;
	
	SET @EXIST= (SELECT COUNT(*)
	FROM TBL_USERS
	WHERE USER_NAME=@USER_NAME 
	AND STATUS =1);
	
	IF @EXIST=0
		BEGIN
			--USUARIO INEXISTENTE
			SELECT  0 AS 'RESULT';
		END
	ELSE	
		BEGIN
			SET @EXIST=(SELECT COUNT(*) 
			FROM TBL_USERS
			WHERE USER_NAME=@USER_NAME
			AND PASSWORD=@PASSWORD);
		
			IF @EXIST=0
				BEGIN
					--USUARIO CONTRASEÑA INVALIDA
					SELECT  1 AS 'RESULT';
				END
			ELSE
				BEGIN
					--ACCESO CORRECTO
		 			SELECT  2 AS 'RESULT';
		 		END
		END
GO
/****** Object:  StoredProcedure [dbo].[SP_VALID_PROVEEDORES_SERVICIOS_PRODUCTOS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VALID_PROVEEDORES_SERVICIOS_PRODUCTOS]
	@ID_PROVEEDOR INT,
	@ID_SERVICIOS_PRODUCTOS INT
	
AS
	DECLARE @EXIST INT
	
	SET @EXIST =
	(SELECT COUNT(*) 
	FROM UNI_PROVEEDORES_SERVICIOS_PRODUCTOS
	WHERE ID_PROVEEDORES=@ID_PROVEEDOR
	AND ID_SERVICIOS_PRODUCTOS=@ID_SERVICIOS_PRODUCTOS);

	IF @EXIST = 0
	BEGIN
		INSERT INTO UNI_PROVEEDORES_SERVICIOS_PRODUCTOS
		VALUES(@ID_PROVEEDOR,@ID_SERVICIOS_PRODUCTOS)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_USER]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_USER]
	@ID INT,
	@USER_NAME NVARCHAR(20),
	@PASSWORD NVARCHAR(10),
	@NOMBRE VARCHAR(50),
	@APELLIDO_PATERNO VARCHAR(50),
	@APELLIDO_MATERNO VARCHAR(50),
	@ID_CARGO VARCHAR(30),
	@EMAIL VARCHAR(50)
AS
	UPDATE TBL_USERS
	SET USER_NAME=@USER_NAME,
		PASSWORD=@PASSWORD,
		NOMBRE=@NOMBRE,
		APELLIDO_PATERNO=@APELLIDO_PATERNO,
		APELLIDO_MATERNO=@APELLIDO_MATERNO,
		ID_CARGO=@ID_CARGO,
		EMAIL=@EMAIL
		WHERE ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PROVEEDORES]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_PROVEEDORES]
	@ID INT,
	@NOMBRE VARCHAR(60),
	@RFC VARCHAR(20),
	@DIRECCION VARCHAR(60),
	@TELEFONO VARCHAR(20),
	@CORREO VARCHAR(25)
AS
	UPDATE TBL_PROVEEDORES
	SET NOMBRE=@NOMBRE,
		RFC=@RFC,
		DIRECCION=@DIRECCION,
		TELEFONO=@TELEFONO,
		CORREO=@CORREO
	WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_INGRESO]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_INGRESO](
	@ID INT,
	@LLAVES_DADO BIT,
	@FECHA VARCHAR(25),
	@USER_ATIENDE INT,
	@ID_CLIENTE INT,
	@ID_AUTO INT,
	@FALLAS VARCHAR(2000),
	@DIAGNOSTICO VARCHAR(2000),
	@DESCUENTO DECIMAL(18,2),
	@SUBTOTAL DECIMAL(18,2),
	@IVA DECIMAL (18,2),
	@TOTAL DECIMAL (18,2)
)
AS
	UPDATE TBL_INGRESO
	SET LLAVES_DADO=@LLAVES_DADO,
		FECHA=@FECHA,
		USER_ATIENDE=@USER_ATIENDE,
		ID_CLIENTE=@ID_CLIENTE,
		ID_AUTO=@ID_AUTO,
		FALLAS=@FALLAS,
		DIAGNOSTICO=@DIAGNOSTICO,
		DESCUENTO=@DESCUENTO,
		SUBTOTAL=@SUBTOTAL,
		IVA=@IVA,
		TOTAL=@TOTAL
	WHERE ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_HIST_PRODUCTOS_SERVICIOS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_HIST_PRODUCTOS_SERVICIOS]
	@ID_PROCESO INT,
	@PROCESO VARCHAR(50),
	@ID_PRODUCTO INT,
	@PROD_SERV VARCHAR(60),
	@NO_PARTE VARCHAR(30),
	@ID_PROVEEDOR INT,
	@MARCA VARCHAR(50),
	@PRECIO_UNITARIO DECIMAL(18,2),
	@CANTIDAD INT
AS
	UPDATE TBL_HIST_PRODUCTOS_SERVICIOS
		SET PRECIO_UNITARIO=@PRECIO_UNITARIO,
			CANTIDAD=CANTIDAD+@CANTIDAD,
			TOTAL=(CANTIDAD+@CANTIDAD)*@PRECIO_UNITARIO
	WHERE PROCESO=@PROCESO
	AND ID_PROCESO=@ID_PROCESO
	AND PROD_SERV=@PROD_SERV
	AND ID_PRODUCTO=@ID_PRODUCTO
	AND NO_PARTE=@NO_PARTE
	AND ID_PROVEEDOR=@ID_PROVEEDOR
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_USER]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_USER]
	@ID INT,
	@USER_NAME NVARCHAR(20),
	@PASSWORD NVARCHAR(10),
	@NOMBRE VARCHAR(50),
	@APELLIDO_PATERNO VARCHAR(50),
	@APELLIDO_MATERNO VARCHAR(50),
	@ID_CARGO VARCHAR(30),
	@EMAIL VARCHAR(50)
AS
	UPDATE TBL_USERS
	SET USER_NAME=@USER_NAME,
		PASSWORD=@PASSWORD,
		NOMBRE=@NOMBRE,
		APELLIDO_PATERNO=@APELLIDO_PATERNO,
		APELLIDO_MATERNO=@APELLIDO_MATERNO,
		ID_CARGO=@ID_CARGO,
		EMAIL=@EMAIL
		WHERE ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_INGRESO_REGISTROS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_INGRESO_REGISTROS]
	@ID_INGRESO INT
AS
	DELETE TBL_INGRESO_REGISTROS WHERE ID_INGRESO=@ID_INGRESO;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_INGLESO]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_INGLESO](
	@ID INT
)
AS
	DELETE TBL_INGRESO WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_HIST_PRODUCTOS_SERVICIOS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_HIST_PRODUCTOS_SERVICIOS]
	@ID_PROCESO INT,
	@PROCESO VARCHAR(50),
	@ID_PRODUCTO INT,
	@PROD_SERV VARCHAR(60),
	@NO_PARTE VARCHAR(30),
	@ID_PROVEEDOR INT
AS
	DELETE TBL_HIST_PRODUCTOS_SERVICIOS
	WHERE PROCESO=@PROCESO
	AND ID_PROCESO=@ID_PROCESO
	AND PROD_SERV=@PROD_SERV
	AND ID_PRODUCTO=@ID_PRODUCTO
	AND NO_PARTE=@NO_PARTE
	AND ID_PROVEEDOR=@ID_PROVEEDOR
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_DIRECCION]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_DIRECCION]
	@ID INT
AS
	DELETE FROM TBL_DIRECCIONES
	WHERE ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_COMPRA_DIA]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_COMPRA_DIA]
	@ID INT
AS
	DELETE FROM TBL_COMPRA_DIA
	WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_CLUTCH]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_CLUTCH]
	@ID INT
AS
	DELETE FROM TBL_CLUTCH
	WHERE ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_CLIENTE]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_CLIENTE]
	@ID INT
AS
	DELETE FROM TBL_CLIENTES
	WHERE ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_BALATAS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_BALATAS]
	@ID INT
AS
	DELETE FROM TBL_BALATAS
	WHERE ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_AUTOS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_AUTOS]
	@ID INT
AS
	DELETE FROM TBL_AUTOS
	WHERE ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_CHANGE_PASSWORD_USER]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHANGE_PASSWORD_USER]
	@USER_NAME NVARCHAR(20)
AS
	SELECT * FROM TBL_USERS
	WHERE USER_NAME=@USER_NAME;
GO
/****** Object:  StoredProcedure [dbo].[DELETE_USER]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_USER]
	@ID INT
AS
	DELETE TBL_USERS
	WHERE ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_EXISTENCIA]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_EXISTENCIA]
	@TABLA VARCHAR(40),
	@NUMERO_PARTE VARCHAR(30),	
	@PRECIO_PUBLICO DECIMAL(18,2),
	@CANTIDAD INT
AS    
	IF @TABLA='BALATAS'
		BEGIN
			
			UPDATE TBL_BALATAS
			SET EXISTENCIA=EXISTENCIA+@CANTIDAD,
				PRECIO_PUBLICO=@PRECIO_PUBLICO
			WHERE NUMERO_PARTE=@NUMERO_PARTE
		END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DIRECCIONES]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_DIRECCIONES]
	@ID INT,
	@PAIS VARCHAR(20),
	@ESTADO VARCHAR(30),
	@MUNICIPIO VARCHAR(30),
	@CIUDAD VARCHAR(30),
	@COLONIA VARCHAR(30),
	@CODIGO_POSTAL VARCHAR(10),
	@CALLE VARCHAR(50),
	@NO_EXTERIOR VARCHAR(20) ,
	@NO_INTERIOR VARCHAR(20) 
	
AS
	UPDATE TBL_DIRECCIONES
		SET PAIS=@PAIS,
		ESTADO=@ESTADO ,
		MUNICIPIO=@MUNICIPIO ,
		CIUDAD=@CIUDAD ,
		COLONIA=@COLONIA,
		CODIGO_POSTAL=@CODIGO_POSTAL,
		CALLE=@CALLE ,
		NO_EXTERIOR=@NO_EXTERIOR, 
		NO_INTERIOR=@NO_INTERIOR 
	WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_COMPRA_DIA]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_COMPRA_DIA]
	@ID INT,
	@NO_FACTURA_REMISION VARCHAR(30),
	@ID_PRODUCTO INT,
	@ID_PROVEEDOR INT,
	@SUBTOTAL DECIMAL(18,2),
	@IVA DECIMAL (18,2),
	@TOTAL DECIMAL (18,2)
AS
	UPDATE TBL_COMPRA_DIA
	SET NO_FACTURA_REMISION=@NO_FACTURA_REMISION,
	ID_PRODUCTO=@ID_PRODUCTO,
	ID_PROVEEDOR=@ID_PROVEEDOR,
	SUBTOTAL=@SUBTOTAL,
	IVA=@IVA,
	TOTAL=@TOTAL
	WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_CLUTCH]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_CLUTCH]
	@ID INT,
	@APLICACION VARCHAR(60),
	@ID_PROVEEDOR INT,
	@NUMERO_PARTE VARCHAR(30),
	@PRODUCTO VARCHAR(20),
	@EQUIVALENCIA_LUK VARCHAR(30),
	@EQUIVALENCIA_SACHS VARCHAR(30),
	@EQUIVALENCIA_3L_ORIGINAL VARCHAR(30),
	@EQUIVALENCIA_EXEDY VARCHAR(30),
	@EQUIVALENCIA_VALEO VARCHAR(30),
	@EQUIVALENCIA_AISIN VARCHAR(30),
	@PRECIO_COMPRA DECIMAL(18,2),
	@PRECIO_PUBLICO DECIMAL(18,2)
AS
	UPDATE TBL_CLUTCH
	SET APLICACION=@APLICACION,
		ID_PROVEEDOR=@ID_PROVEEDOR,
		NUMERO_PARTE=@NUMERO_PARTE,
		PRODUCTO=@PRODUCTO,
		EQUIVALENCIA_LUK=@EQUIVALENCIA_LUK,
		EQUIVALENCIA_SACHS=@EQUIVALENCIA_SACHS,
		EQUIVALENCIA_3L_ORIGINAL=@EQUIVALENCIA_3L_ORIGINAL,
		EQUIVALENCIA_EXEDY=@EQUIVALENCIA_EXEDY,
		EQUIVALENCIA_VALEO=@EQUIVALENCIA_VALEO,
		EQUIVALENCIA_AISIN =@EQUIVALENCIA_AISIN,
		PRECIO_COMPRA=@PRECIO_COMPRA,
		PRECIO_PUBLICO=@PRECIO_PUBLICO
	WHERE ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_CLIENTES]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_CLIENTES]
	@ID INT,
	@NOMBRE VARCHAR(30),
	@CORREO VARCHAR(30) ,
	@CFDI VARCHAR(30),
	@RFC VARCHAR(20) ,
	@CODIGO_POSTAL VARCHAR(10),
	@CALLE VARCHAR(50),
	@MUNICIPIO VARCHAR(30),
	@ESTADO VARCHAR(30)
	
AS
	UPDATE TBL_CLIENTES
	SET NOMBRE=@NOMBRE, 
		CORREO=@CORREO,
		CFDI=@CFDI, 
		RFC=@RFC, 
		CODIGO_POSTAL=@CODIGO_POSTAL, 
		CALLE=@CALLE,
		MUNICIPIO=@MUNICIPIO, 
		ESTADO=@ESTADO
	WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_CAT_PRODUCTO_SERVICIO]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_CAT_PRODUCTO_SERVICIO]
	@ID INT,
	@NOMBRE VARCHAR(40),
	@TIPO VARCHAR(10)
AS
	UPDATE CAT_PRODUCTOS_SERVICIOS
	SET NOMBRE=@NOMBRE,
		TIPO=@TIPO
	WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_CARGO]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_CARGO]
	@ID INT,
	@CARGO VARCHAR(20)
AS
	UPDATE TBL_CARGO
	SET CARGO=@CARGO
	WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_BALATAS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_BALATAS]
	@ID INT,
	@ID_PROVEEDOR INT,	
	@NUMERO_PARTE VARCHAR(30),
	@MARCA VARCHAR(50),
	@POSICION VARCHAR(10),
	@OBSERVACIONES VARCHAR(60),
	@ABUTMEN BIT,
	@APLICACION VARCHAR(50),
	@MODELO VARCHAR(10),
	@FORMULA VARCHAR(12),
	@PRECIO_PUBLICO DECIMAL(18,2),
	@EXISTENCIA INT
	
AS
	UPDATE TBL_BALATAS
	SET ID_PROVEEDOR=@ID_PROVEEDOR,
		NUMERO_PARTE=@NUMERO_PARTE,
		MARCA=@MARCA,
		POSICION=@POSICION,
		OBSERVACIONES=@OBSERVACIONES,
		ABUTMEN=@ABUTMEN,
		APLICACION=@APLICACION,
		MODELO=@MODELO,
		FORMULA=@FORMULA,
		PRECIO_PUBLICO=@PRECIO_PUBLICO,
		EXISTENCIA=@EXISTENCIA
	WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_AUTOS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_AUTOS]
	@ID INT,
	@PLACA VARCHAR(10),
	@MARCA VARCHAR(30),
	@MODELO VARCHAR(30),
	@NUMERO_SERIE VARCHAR(30),
	@COLOR VARCHAR(30),
	@KMJ INT
	
AS
	UPDATE TBL_AUTOS
		SET PLACA=@PLACA, 
		MARCA=@MARCA, 
		MODELO=@MODELO,
		NUMERO_SERIE=@NUMERO_SERIE,
		COLOR=@COLOR,
		KMJ=@KMJ
	WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[SP_STATUS_USER]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_STATUS_USER]
	@ID INT,
	@STATUS BIT
AS
	UPDATE TBL_USERS
	SET STATUS=@STATUS
	WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_REGISTRO_COMPRA_DIA]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SELECT_REGISTRO_COMPRA_DIA]
 @NO_FACTURA_REMISION VARCHAR(30)
AS
	SELECT NO_FACTURA_REMISION,NO_PARTE, 
	MARCA,PRECIO_UNITARIO,IVA,DESCUETO,DESCUENTO_PORCENTAJE,
	SUBTOTAL,	CANTIDAD,TOTAL 
	FROM TBL_COMPRA_DIA_REGISTROS
	WHERE NO_FACTURA_REMISION=@NO_FACTURA_REMISION
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_USER]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_USER]
	@USER_NAME NVARCHAR(20),
	@NOMBRE VARCHAR(50),
	@APELLIDO_PATERNO VARCHAR(50),
	@APELLIDO_MATERNO VARCHAR(50),
	@ID_CARGO VARCHAR(30),
	@EMAIL VARCHAR(50)
AS
	INSERT INTO TBL_USERS(USER_NAME,PASSWORD,NOMBRE,
	APELLIDO_PATERNO,APELLIDO_MATERNO,ID_CARGO,EMAIL,STATUS)
	VALUES(@USER_NAME,'TEMPORAL',@NOMBRE,@APELLIDO_PATERNO,
	@APELLIDO_MATERNO,@ID_CARGO,@EMAIL,1);
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_REGISTRO_COMPRA_DIA]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_REGISTRO_COMPRA_DIA]
	@NO_FACTURA_REMISION VARCHAR(30),
	@ID_CAT_PROD_SERV INT,
	@ID_PROVEEDOR INT,
	@ID_PROD_SERV INT,
	@NO_PARTE VARCHAR(30),
	@MARCA VARCHAR(50),
	@PRECIO_UNITARIO DECIMAL(18,2),
	@IVA DECIMAL(18,2),
	@DESCUETO DECIMAL(18,2),
	@DESCUENTO_PORCENTAJE DECIMAL(18,2),
	@SUBTOTAL DECIMAL(18,2),
	@CANTIDAD INT,
	@TOTAL DECIMAL(18,2)
AS
	INSERT INTO TBL_COMPRA_DIA_REGISTROS (NO_FACTURA_REMISION,
	ID_CAT_PROD_SERV,ID_PROVEEDOR,ID_PROD_SERV,NO_PARTE, 
	MARCA,PRECIO_UNITARIO,IVA,DESCUETO,DESCUENTO_PORCENTAJE,
	SUBTOTAL,	CANTIDAD,TOTAL)
	VALUES( @NO_FACTURA_REMISION,@ID_CAT_PROD_SERV,
	@ID_PROVEEDOR,@ID_PROD_SERV,@NO_PARTE, @MARCA,
	@PRECIO_UNITARIO,@IVA,@DESCUETO,@DESCUENTO_PORCENTAJE,
	@SUBTOTAL,@CANTIDAD,@TOTAL)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_PROVEEDORES_SERVICIOS_PRODUCTOS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_PROVEEDORES_SERVICIOS_PRODUCTOS]
	@ID_PROVEEDOR INT,
	@ID_SERVICIOS_PRODUCTOS INT
	
AS
	DECLARE @EXIST INT
	
	SET @EXIST =
	(SELECT COUNT(*) 
	FROM UNI_PROVEEDORES_SERVICIOS_PRODUCTOS
	WHERE ID_PROVEEDORES=@ID_PROVEEDOR
	AND ID_SERVICIOS_PRODUCTOS=@ID_SERVICIOS_PRODUCTOS);

	IF @EXIST = 0
	BEGIN
		INSERT INTO UNI_PROVEEDORES_SERVICIOS_PRODUCTOS
		VALUES(@ID_PROVEEDOR,@ID_SERVICIOS_PRODUCTOS)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_PROVEEDORES]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_PROVEEDORES]
	@NOMBRE VARCHAR(60),
	@RFC VARCHAR(20),
	@DIRECCION VARCHAR(60),
	@TELEFONO VARCHAR(20),
	@CORREO VARCHAR(25)
AS
	INSERT INTO TBL_PROVEEDORES
	(NOMBRE,RFC,DIRECCION,TELEFONO,CORREO)
	VALUES(@NOMBRE,@RFC,@DIRECCION,@TELEFONO,@CORREO);
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_INGRESO_REGISTROS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_INGRESO_REGISTROS]
	@ID_INGRESO INT,
	@ID_CAT_PROD_SERV INT,
	@ID_PROVEEDOR INT,
	@ID_PROD_SERV INT,
	@NO_PARTE VARCHAR(30),
	@MARCA VARCHAR(50),
	@PRECIO_UNITARIO DECIMAL(18,2),
	@IVA DECIMAL(18,2),
	@DESCUETO DECIMAL(18,2),
	@DESCUENTO_PORCENTAJE DECIMAL(18,2),
	@SUBTOTAL DECIMAL(18,2),
	@CANTIDAD INT ,
	@TOTAL DECIMAL(18,2)
AS
	INSERT TBL_INGRESO_REGISTROS (ID_INGRESO,ID_CAT_PROD_SERV,ID_PROVEEDOR,ID_PROD_SERV,
	NO_PARTE,MARCA,PRECIO_UNITARIO,IVA, DESCUETO,DESCUENTO_PORCENTAJE,
	SUBTOTAL,CANTIDAD,TOTAL)
	VALUES(@ID_INGRESO,@ID_CAT_PROD_SERV,@ID_PROVEEDOR,@ID_PROD_SERV,@NO_PARTE,
	@MARCA,@PRECIO_UNITARIO,@IVA, @DESCUETO,@DESCUENTO_PORCENTAJE,
	@SUBTOTAL,@CANTIDAD,@TOTAL)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_INGRESO]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_INGRESO](
	@LLAVES_DADO BIT,
	@FECHA VARCHAR(25),
	@USER_ATIENDE INT,
	@ID_CLIENTE INT,
	@ID_AUTO INT,
	@FALLAS VARCHAR(2000),
	@DIAGNOSTICO VARCHAR(2000),
	@DESCUENTO DECIMAL(18,2),
	@SUBTOTAL DECIMAL(18,2),
	@IVA DECIMAL (18,2),
	@TOTAL DECIMAL (18,2)
)
AS
	INSERT INTO TBL_INGRESO (LLAVES_DADO,FECHA,USER_ATIENDE,ID_CLIENTE,
	ID_AUTO,FALLAS,DIAGNOSTICO,DESCUENTO,SUBTOTAL,IVA,TOTAL)
	VALUES(@LLAVES_DADO,@FECHA,@USER_ATIENDE,@ID_CLIENTE,@ID_AUTO,@FALLAS,
	@DIAGNOSTICO,@DESCUENTO,@SUBTOTAL,@IVA,@TOTAL)
	
	SELECT TOP 1 ID FROM TBL_INGRESO ORDER BY ID DESC;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_HIST_PRODUCTOS_SERVICIOS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_HIST_PRODUCTOS_SERVICIOS]
	@ID_PROCESO INT,
	@PROCESO VARCHAR(50),
	@ID_PRODUCTO INT,
	@PROD_SERV VARCHAR(60),
	@NO_PARTE VARCHAR(30),
	@ID_PROVEEDOR INT,
	@MARCA VARCHAR(50),
	@PRECIO_UNITARIO DECIMAL(18,2),
	@CANTIDAD INT
AS
	INSERT INTO TBL_HIST_PRODUCTOS_SERVICIOS
	(PROCESO,ID_PROCESO,PROD_SERV,ID_PRODUCTO,NO_PARTE,
	ID_PROVEEDOR,MARCA,PRECIO_UNITARIO,CANTIDAD,TOTAL,FECHA)
	VALUES(@PROCESO,@ID_PROCESO,@PROD_SERV,@ID_PRODUCTO,@NO_PARTE,
	@ID_PROVEEDOR,@MARCA,@PRECIO_UNITARIO,@CANTIDAD,
	@PRECIO_UNITARIO*@CANTIDAD,
	convert(varchar, getdate(),  106)
	+' - ' + convert(varchar, getdate(),  8) )
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DIRECCIONES]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_DIRECCIONES]
	@PAIS VARCHAR(20),
	@ESTADO VARCHAR(30),
	@MUNICIPIO VARCHAR(30),
	@CIUDAD VARCHAR(30),
	@COLONIA VARCHAR(30),
	@CODIGO_POSTAL VARCHAR(10),
	@CALLE VARCHAR(50),
	@NO_EXTERIOR VARCHAR(20) ,
	@NO_INTERIOR VARCHAR(20) ,
	@ID_CLIENTE INT
AS
	INSERT INTO TBL_DIRECCIONES
	(PAIS, ESTADO, MUNICIPIO, CIUDAD, COLONIA, 
	CODIGO_POSTAL,CALLE,NO_EXTERIOR,NO_INTERIOR,ID_CLIENTE)
	VALUES(@PAIS, @ESTADO, @MUNICIPIO, @CIUDAD, @COLONIA, 
	@CODIGO_POSTAL,@CALLE,@NO_EXTERIOR,@NO_INTERIOR,@ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_COMPRA_DIA]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_COMPRA_DIA]
	@NO_FACTURA_REMISION VARCHAR(30),
	@ID_PRODUCTO INT,
	@ID_PROVEEDOR INT,
	@SUBTOTAL DECIMAL(18,2),
	@IVA DECIMAL (18,2),
	@TOTAL DECIMAL (18,2)
AS
	INSERT INTO TBL_COMPRA_DIA(NO_FACTURA_REMISION,ID_PRODUCTO,
	ID_PROVEEDOR,SUBTOTAL,IVA,TOTAL)
	VALUES(@NO_FACTURA_REMISION,@ID_PRODUCTO,
	@ID_PROVEEDOR,@SUBTOTAL,@IVA,@TOTAL)
	
	SELECT TOP 1 ID FROM TBL_COMPRA_DIA ORDER BY ID DESC;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CLUTCH]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_CLUTCH]
	@APLICACION VARCHAR(60),
	@ID_PROVEEDOR INT,
	@NUMERO_PARTE VARCHAR(30),
	@PRODUCTO VARCHAR(20),
	@EQUIVALENCIA_LUK VARCHAR(30),
	@EQUIVALENCIA_SACHS VARCHAR(30),
	@EQUIVALENCIA_3L_ORIGINAL VARCHAR(30),
	@EQUIVALENCIA_EXEDY VARCHAR(30),
	@EQUIVALENCIA_VALEO VARCHAR(30),
	@EQUIVALENCIA_AISIN VARCHAR(30),
	@PRECIO_COMPRA DECIMAL(18,2),
	@PRECIO_PUBLICO DECIMAL(18,2)
AS
	INSERT INTO TBL_CLUTCH
	(APLICACION,ID_PROVEEDOR,NUMERO_PARTE,
	PRODUCTO,EQUIVALENCIA_LUK,EQUIVALENCIA_SACHS,
	EQUIVALENCIA_3L_ORIGINAL,EQUIVALENCIA_EXEDY,
	EQUIVALENCIA_VALEO,EQUIVALENCIA_AISIN,
	PRECIO_COMPRA,PRECIO_PUBLICO,EXISTENCIA )
	VALUES(@APLICACION,@ID_PROVEEDOR,@NUMERO_PARTE,
	@PRODUCTO,@EQUIVALENCIA_LUK,@EQUIVALENCIA_SACHS,
	@EQUIVALENCIA_3L_ORIGINAL,@EQUIVALENCIA_EXEDY,
	@EQUIVALENCIA_VALEO,@EQUIVALENCIA_AISIN,
	@PRECIO_COMPRA,@PRECIO_PUBLICO,0)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CLIENTES]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_CLIENTES]
	@NOMBRE VARCHAR(30),
	@CORREO VARCHAR(30) ,
	@CFDI VARCHAR(30),
	@RFC VARCHAR(20) ,
	@CODIGO_POSTAL VARCHAR(10),
	@CALLE VARCHAR(50),
	@MUNICIPIO VARCHAR(30),
	@ESTADO VARCHAR(30)
AS
	INSERT INTO TBL_CLIENTES
	(NOMBRE, CORREO,CFDI, RFC, CODIGO_POSTAL, 
	CALLE, MUNICIPIO, ESTADO)
	VALUES(@NOMBRE, @CORREO,@CFDI, @RFC, @CODIGO_POSTAL, 
	@CALLE, @MUNICIPIO, @ESTADO)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CAT_PRODUCTO_SERVICIO]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_CAT_PRODUCTO_SERVICIO]
	@NOMBRE VARCHAR(40),
	@TIPO VARCHAR(10)
AS
	INSERT INTO CAT_PRODUCTOS_SERVICIOS
	VALUES (@NOMBRE,@TIPO)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CARGO]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_CARGO]
	@CARGO VARCHAR(20)
AS
	INSERT INTO TBL_CARGO
	VALUES(@CARGO);
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_BALATAS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_BALATAS]
	@NOMBRE VARCHAR(30),
	@CORREO VARCHAR(30) ,
	@CFDI VARCHAR(30),
	@RFC VARCHAR(20) ,
	@CODIGO_POSTAL VARCHAR(10),
	@CALLE VARCHAR(50),
	@MUNICIPIO VARCHAR(30),
	@ESTADO VARCHAR(30)
AS
	INSERT INTO TBL_CLIENTES
	(NOMBRE, CORREO,CFDI, RFC, CODIGO_POSTAL, 
	CALLE, MUNICIPIO, ESTADO)
	VALUES(@NOMBRE, @CORREO,@CFDI, @RFC, @CODIGO_POSTAL, 
	@CALLE, @MUNICIPIO, @ESTADO)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_AUTOS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_AUTOS]
	@PLACA VARCHAR(10),
	@MARCA VARCHAR(30),
	@MODELO VARCHAR(30),
	@NUMERO_SERIE VARCHAR(30),
	@COLOR VARCHAR(30),
	@KMJ INT,
	@ID_CLIENTE INT
AS
	INSERT INTO TBL_AUTOS
	(PLACA, MARCA, MODELO,NUMERO_SERIE,
	COLOR,KMJ,ID_CLIENTE)
	VALUES(@PLACA, @MARCA, @MODELO,@NUMERO_SERIE,
	@COLOR,@KMJ,@ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_USER]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_USER]
	@USER_NAME NVARCHAR(20),
	@PASSWORD NVARCHAR(10)
AS
	SELECT U.ID,U.USER_NAME,U.PASSWORD,U.NOMBRE,U.APELLIDO_PATERNO,
	U.APELLIDO_MATERNO,C.CARGO,U.EMAIL,U.STATUS
	FROM TBL_USERS U
	LEFT JOIN TBL_CARGO C ON U.ID_CARGO=C.ID
	WHERE USER_NAME=@USER_NAME
	AND PASSWORD=@PASSWORD
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_SERV_PROD_PROV]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_SERV_PROD_PROV]
	@ID_PROVEEDOR INT
AS
	SELECT PS.ID,PS.NOMBRE 
	FROM TBL_PROVEEDORES P
	JOIN UNI_PROVEEDORES_SERVICIOS_PRODUCTOS UNI ON UNI.ID_PROVEEDORES=P.ID
	JOIN CAT_PRODUCTOS_SERVICIOS PS ON PS.ID=UNI.ID_SERVICIOS_PRODUCTOS
	WHERE P.ID=@ID_PROVEEDOR
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_REGISTRO_COMPRA_DIA]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_REGISTRO_COMPRA_DIA]
 @NO_FACTURA_REMISION VARCHAR(30)
AS
	SELECT ID,ID_CAT_PROD_SERV,ID_PROVEEDOR,ID_PROD_SERV,NO_PARTE, 
	MARCA,PRECIO_UNITARIO,IVA,DESCUETO,DESCUENTO_PORCENTAJE,
	SUBTOTAL,	CANTIDAD,TOTAL 
	FROM TBL_COMPRA_DIA_REGISTROS
	WHERE NO_FACTURA_REMISION=@NO_FACTURA_REMISION
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PROVEEDORES_ID]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_PROVEEDORES_ID]
	@ID INT
AS
	SELECT ID,NOMBRE,RFC,DIRECCION,TELEFONO,CORREO
	FROM TBL_PROVEEDORES
	WHERE ID=@ID
	ORDER BY ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PROVEEDORES]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_PROVEEDORES]

AS
	SELECT ID,NOMBRE,RFC,DIRECCION,TELEFONO,CORREO
	FROM TBL_PROVEEDORES
	ORDER BY ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PROV_BY_SERV_PROD]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_PROV_BY_SERV_PROD]
	@ID_SERVICIOS_PRODUCTOS INT
AS
	SELECT P.ID,P.NOMBRE 
	FROM CAT_PRODUCTOS_SERVICIOS PS
	JOIN UNI_PROVEEDORES_SERVICIOS_PRODUCTOS UNI ON UNI.ID_SERVICIOS_PRODUCTOS=PS.ID
	JOIN TBL_PROVEEDORES P ON P.ID=UNI.ID_PROVEEDORES
	WHERE PS.ID=@ID_SERVICIOS_PRODUCTOS
	GROUP BY P.ID,P.NOMBRE


select * from CAT_PRODUCTOS_SERVICIOS
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PRODUCTOS_SERVICIOS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_PRODUCTOS_SERVICIOS]
	
AS

	SELECT ID,CODIGO,NOMBRE,PRECIO_UNITARIO as PRECIO FROM TBL_PRODUCTOS_SERVICIOS
	ORDER BY ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_INGRESOS_CLIENTE]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_INGRESOS_CLIENTE](
	@ID_CLIENTE INT
)
AS
	SELECT I.ID,LLAVES_DADO AS LLAVES,FECHA,U.NOMBRE + ' '+ U.APELLIDO_MATERNO 
	+ ' ' + U.APELLIDO_PATERNO AS ATIENDE,C.NOMBRE AS CLIENTE,
	ID_AUTO,FALLAS,DIAGNOSTICO,DESCUENTO,SUBTOTAL,IVA,TOTAL 
	FROM TBL_INGRESO I
	LEFT JOIN TBL_USERS U ON U.ID=I.USER_ATIENDE
	LEFT JOIN TBL_CLIENTES C ON C.ID=I.ID_CLIENTE
	WHERE ID_CLIENTE=@ID_CLIENTE
	ORDER BY ID DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_INGRESO_REGISTROS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_INGRESO_REGISTROS]
@ID_INGRESO INT
AS
	SELECT ID, ID_INGRESO,ID_CAT_PROD_SERV,ID_PROVEEDOR,ID_PROD_SERV,NO_PARTE,
	MARCA,PRECIO_UNITARIO,IVA, DESCUETO,DESCUENTO_PORCENTAJE  
	,SUBTOTAL,CANTIDAD,TOTAL
	FROM TBL_INGRESO_REGISTROS
	WHERE ID_INGRESO=@ID_INGRESO
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_INGRESO]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_INGRESO](
	@ID_INGRESO INT
)
AS
	SELECT I.ID,LLAVES_DADO AS LLAVES,FECHA,u.ID AS ID_ATIENDE,
	U.NOMBRE + ' '+ U.APELLIDO_MATERNO + ' ' + U.APELLIDO_PATERNO AS ATIENDE,
	C.ID AS ID_CLIENTE, C.NOMBRE AS CLIENTE,ID_AUTO,FALLAS,DIAGNOSTICO,
	DESCUENTO,SUBTOTAL,IVA,TOTAL 
	FROM TBL_INGRESO I
	LEFT JOIN TBL_USERS U ON U.ID=I.USER_ATIENDE
	LEFT JOIN TBL_CLIENTES C ON C.ID=I.ID_CLIENTE
	WHERE I.ID=@ID_INGRESO
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_HIST_PRODUCTOS_SERVICIOS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_HIST_PRODUCTOS_SERVICIOS]
	
AS
	SELECT PROCESO AS 'Proceso',ID_PROCESO AS 'Id',PROD_SERV AS 'Producto',
	ID_PRODUCTO AS 'Id ',NO_PARTE AS 'No. Parte',
	P.NOMBRE AS 'Proveedor',MARCA AS 'Marca',
	PRECIO_UNITARIO AS 'Precio Uni.',CANTIDAD,TOTAL,FECHA 
	FROM TBL_HIST_PRODUCTOS_SERVICIOS PS
	LEFT JOIN TBL_PROVEEDORES P ON P.ID=PS.ID_PROVEEDOR
	ORDER BY CONVERT(DATETIME, SUBSTRING(FECHA, 1, 11) + SUBSTRING(FECHA, 14, 8), 106) DESC;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DIRECCIONES]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_DIRECCIONES]
	@ID_CLIENTE INT

AS
	SELECT ID, PAIS, ESTADO, MUNICIPIO, CIUDAD, COLONIA, 
	CODIGO_POSTAL,CALLE,NO_EXTERIOR,NO_INTERIOR 
	FROM TBL_DIRECCIONES 
	WHERE ID_CLIENTE =@ID_CLIENTE
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_COMPRA_DIA]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_COMPRA_DIA]
	--@ID INT
AS
	SELECT ID,NO_FACTURA_REMISION,ID_PRODUCTO,
	ID_PROVEEDOR,SUBTOTAL,IVA,TOTAL
	FROM TBL_COMPRA_DIA
	--WHERE ID=@ID
	ORDER BY ID DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CLUTCH]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_CLUTCH]
	@ID_PROVEEDOR INT

AS
	SELECT ID,NUMERO_PARTE,APLICACION,
	PRODUCTO,EQUIVALENCIA_LUK,EQUIVALENCIA_SACHS,
	EQUIVALENCIA_3L_ORIGINAL,EQUIVALENCIA_EXEDY,
	EQUIVALENCIA_VALEO,EQUIVALENCIA_AISIN,
	PRECIO_COMPRA,PRECIO_PUBLICO,EXISTENCIA
	FROM TBL_CLUTCH
	WHERE ID_PROVEEDOR=@ID_PROVEEDOR
	ORDER BY ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CLIENTES_COMBO]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_CLIENTES_COMBO]

AS
	SELECT ID,NOMBRE
	FROM TBL_CLIENTES
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CLIENTES]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_CLIENTES]

AS
	SELECT ID,NOMBRE,CORREO,CFDI, RFC,	CODIGO_POSTAL, 
	CALLE, MUNICIPIO,ESTADO
	FROM TBL_CLIENTES
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CAT_PRODUCTO_SERVICIO]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_CAT_PRODUCTO_SERVICIO]

AS
	SELECT ID,NOMBRE 
	FROM CAT_PRODUCTOS_SERVICIOS
	ORDER BY ID
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CARGO]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_CARGO]

AS
	SELECT * FROM TBL_CARGO
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_BALATAS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_BALATAS]
	@ID_PROVEEDOR INT

AS
	SELECT ID,NUMERO_PARTE,MARCA,
	POSICION,OBSERVACIONES,ABUTMEN,APLICACION,
	MODELO,FORMULA,PRECIO_PUBLICO,EXISTENCIA
	FROM TBL_BALATAS
	WHERE ID_PROVEEDOR =@ID_PROVEEDOR 
	ORDER BY ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_AUTOS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_AUTOS]
	@ID_CLIENTE INT
AS
	SELECT A.ID, PLACA, MARCA, MODELO,NUMERO_SERIE,
	COLOR,KMJ,ID_CLIENTE,C.NOMBRE
	FROM TBL_AUTOS A
	LEFT JOIN TBL_CLIENTES C ON C.ID=A.ID_CLIENTE
	WHERE ID_CLIENTE =@ID_CLIENTE
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_USER]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_ALL_USER]
AS
	SELECT U.ID,U.USER_NAME,U.NOMBRE,U.APELLIDO_PATERNO,
	U.APELLIDO_MATERNO,C.CARGO,U.EMAIL,U.STATUS
	FROM TBL_USERS U
	LEFT JOIN TBL_CARGO C ON U.ID_CARGO=C.ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_REGISTRO_COMPRA_DIA]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_REGISTRO_COMPRA_DIA]
	@NO_FACTURA_REMISION VARCHAR(30)
AS
	DELETE FROM TBL_COMPRA_DIA_REGISTROS
	WHERE NO_FACTURA_REMISION=@NO_FACTURA_REMISION
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_REFITRO_COMPRA_DIA]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_REFITRO_COMPRA_DIA]
	@NO_FACTURA_REMISION VARCHAR(30)
AS
	DELETE FROM TBL_COMPRA_DIA_REGISTROS
	WHERE NO_FACTURA_REMISION=@NO_FACTURA_REMISION
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_PROVEEDORES]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_PROVEEDORES]
	@ID INT
AS
	DELETE FROM TBL_PROVEEDORES
	WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_PRODUCTOS_SERVICIOS]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_PRODUCTOS_SERVICIOS]
	@ID INT
AS
	DELETE FROM TBL_PRODUCTOS_SERVICIOS
	WHERE ID=@ID;
	
	EXEC SP_GET_PRODUCTOS_SERVICIOS
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_EXISTENCIA_PRECIO]    Script Date: 09/10/2023 21:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_EXISTENCIA_PRECIO]
	@EXISTENCIA_NUEVA INT,
	@ID_PROCESO INT,
	@PROCESO VARCHAR(50),
	@TABLA VARCHAR(40),
	@ID_PRODUCTO INT,
	@NO_PARTE VARCHAR(30),
	@ID_PROVEEDOR INT,
	@MARCA VARCHAR(50),
	@PRECIO_UNITARIO DECIMAL(18,2),
	@CANTIDAD INT
AS    
	DECLARE @PRECIO DECIMAL(18,2)
	
	--EXISTENCIA
	BEGIN
		IF @TABLA='BALATAS'
			BEGIN
				
				UPDATE TBL_BALATAS
					SET EXISTENCIA=EXISTENCIA+@CANTIDAD, 
					PRECIO_PUBLICO=@PRECIO_UNITARIO
				WHERE ID=@ID_PRODUCTO;
				
			END
		ELSE IF @TABLA='CLUTCH'
			BEGIN
				
				UPDATE TBL_CLUTCH
					SET EXISTENCIA=EXISTENCIA+@CANTIDAD,
					PRECIO_PUBLICO=@PRECIO_UNITARIO
				WHERE ID=@ID_PRODUCTO;
			END
	END
			--HISTORIAL
	IF @EXISTENCIA_NUEVA=0
		BEGIN					
			EXEC SP_INSERT_HIST_PRODUCTOS_SERVICIOS @ID_PROCESO,
			@PROCESO,@ID_PRODUCTO, @TABLA, @NO_PARTE, @ID_PROVEEDOR,
			@MARCA,	@PRECIO_UNITARIO,@CANTIDAD;
		END
	IF @EXISTENCIA_NUEVA=1
		BEGIN					
			EXEC SP_UPDATE_HIST_PRODUCTOS_SERVICIOS @ID_PROCESO,
			@PROCESO,@ID_PRODUCTO, @TABLA, @NO_PARTE, @ID_PROVEEDOR,
			@MARCA,	@PRECIO_UNITARIO,@CANTIDAD;
		END
	IF @EXISTENCIA_NUEVA=2
		BEGIN					
			EXEC SP_DELETE_HIST_PRODUCTOS_SERVICIOS @ID_PROCESO,
			@PROCESO,@ID_PRODUCTO, @TABLA, @NO_PARTE, @ID_PROVEEDOR
		END
GO
