<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="CASABLANCA" 
         connectionString="Data Source=LAPTOP-QDP5DH58\\SQLEXPRESS;Initial Catalog=master; User ID=zenen; Password=zenen"/><!--; Integrated Security=True"/>-->

    <add name="CASABLANCA2" 
         connectionString="Data Source=LAPTOP-QDP5DH58\\SQLEXPRESS;Initial Catalog=master; User ID=zenen; Password=zenen"
         providerName="System.Data.SqlClient"/><!--;  Integrated Security=True"-->
  </connectionStrings>
</configuration>